<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Click <a href="form.gohtml">here</a> to teleport.</p>
<p>Click <a href="logout">here</a> to logout.</p>
</body>
</html>