<h1>Concert Warehouse</h1>
<p>Logged in as {{.User.Username}}</p>
<p>Click <a href="logout">here</a> to logout.</p>
{{ if eq (dStr .User.Username) "admin" }}
    <p>Click <a href="new-user">here</a> to create a new user</p>
{{ end }}
<hr/>